$fonts: 'Lato', sans-serif
$darkGrey: #47525E

.App 
    margin-top: 0px
    background-color: #F7F7F7
    padding: 20px 10% 20px 10%
    height: 100vh
    widows: 100vw
    
#fullWidth
    width: 100%
    margin: 10px 0